################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/LipidCreator/bin
/LipidCreator/bin/x64
/LipidCreator/obj
LipidCreator.userprefs
/LipidCreator/bin/Debug
